.info {
    width: 100%;
    height: 630px;
    background: #fafafa;
    .about {
        width: 60%;
        height: 100%;
        float: left;
        margin-left: 20px;
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 40px;
            margin-top: 70px;
            color: #363636;
            text-transform: uppercase;
        }
        h4 {
            font-family: 'Open Sans', sans-serif;
            margin-top: 35px;
            color: #565656;
        }
        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            margin-top: 15px;
            color: #a6a6a6;
            a {
                color: #74c6d1;
            }
            a:hover {
                color: #df7c7c;
            }
        }
        h2 {
            margin-top: 30px;
            color: #163337;
        }
        .calling {
            margin-top: 20px;
            .box {
                width: 100%;
                height: 60px;
                background: #ffffff;
                margin-top: 5px;
                em {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    background: #26c6da;
                    margin-top: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    float: left;
                    img {
                        transform: translate(32%, 25%);
                    }
                }
                p {
                    float: left;
                    width: 90%;
                    margin-left: 5px;
                }
            }
        }
    }
    .video {
        margin-left: 30px;
        width: 35%;
        height: 100%;
        float: left;
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 40px;
            margin-top: 70px;
            color: #363636;
            text-transform: uppercase;
        }
        iframe {
            margin-top: 35px;
            width: 370px;
            height: 225px;
        }
        .request {
            margin-top: -6px;
            width: 370px;
            height: 170px;
            background: #1aa4b5;
            h4 {
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                color: #ffffff;
                padding-top: 20px;
                padding-left: 35px;
            }
            .line {
                width: 80%;
                height: 1px;
                background: #ffffff;
                margin: 0 auto;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            p {
                font-family: 'Open Sans', sans-serif;
                color: #ffffff;
                font-size: 10px;
                font-weight: 600;
                padding-left: 35px;
                height: 60px;
                width: 90%;
            }
            a {
                font-family: 'Open Sans', sans-serif;
                color: #ffffff;                
                padding-left: 35px;
                font-size: 10px;
            }
            a:hover {
                color: #df7c7c;
            }
        }
    }
}